<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.dao.mappers.CropMapper">
  <resultMap id="BaseResultMap" type="biz.dao.mappers.entity.Crop">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <result column="CROP_SHORT_NAME" jdbcType="VARCHAR" property="cropShortName" />
    <result column="CROP_NAME" jdbcType="VARCHAR" property="cropName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CONTACT_PERSON" jdbcType="VARCHAR" property="contactPerson" />
    <result column="CONTACT_WAY" jdbcType="VARCHAR" property="contactWay" />
    <result column="TOKEN_URL" jdbcType="VARCHAR" property="tokenUrl" />
    <result column="TOKEN_SECRET" jdbcType="VARCHAR" property="tokenSecret" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    CROP_SHORT_NAME, CROP_NAME, ADDRESS, CONTACT_PERSON, CONTACT_WAY, TOKEN_URL, TOKEN_SECRET, 
    UPDATE_TIME, CREATE_TIME
  </sql>
  <sql id="Insert_Column_List">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    #{record.cropShortName,jdbcType=VARCHAR}, #{record.cropName,jdbcType=VARCHAR}, #{record.address,jdbcType=VARCHAR}, 
    #{record.contactPerson,jdbcType=VARCHAR}, #{record.contactWay,jdbcType=VARCHAR}, 
    #{record.tokenUrl,jdbcType=VARCHAR}, #{record.tokenSecret,jdbcType=VARCHAR}, #{record.updateTime,jdbcType=TIMESTAMP}, 
    #{record.createTime,jdbcType=TIMESTAMP}
  </sql>
  <select id="selectByExample" parameterType="biz.dao.mappers.entity.CropExample" resultMap="BaseResultMap">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CROP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithPage" resultMap="BaseResultMap">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CROP
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="biz.dao.mappers.entity.CropExample">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    delete from CROP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="biz.dao.mappers.entity.Crop">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    insert into CROP (CROP_SHORT_NAME, CROP_NAME, ADDRESS, 
      CONTACT_PERSON, CONTACT_WAY, TOKEN_URL, 
      TOKEN_SECRET, UPDATE_TIME, CREATE_TIME
      )
    values (#{cropShortName,jdbcType=VARCHAR}, #{cropName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{contactPerson,jdbcType=VARCHAR}, #{contactWay,jdbcType=VARCHAR}, #{tokenUrl,jdbcType=VARCHAR}, 
      #{tokenSecret,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="biz.dao.mappers.entity.Crop">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    insert into CROP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cropShortName != null">
        CROP_SHORT_NAME,
      </if>
      <if test="cropName != null">
        CROP_NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON,
      </if>
      <if test="contactWay != null">
        CONTACT_WAY,
      </if>
      <if test="tokenUrl != null">
        TOKEN_URL,
      </if>
      <if test="tokenSecret != null">
        TOKEN_SECRET,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cropShortName != null">
        #{cropShortName,jdbcType=VARCHAR},
      </if>
      <if test="cropName != null">
        #{cropName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="tokenUrl != null">
        #{tokenUrl,jdbcType=VARCHAR},
      </if>
      <if test="tokenSecret != null">
        #{tokenSecret,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <choose>
      <when test="${getDBType} == 'Mysql' or ${getDBType} == 'OceanBase'">
        insert into CROP
        (<include refid="Base_Column_List" />)
        values
        <foreach collection="records" item="record" separator=",">
          (<include refid="Insert_Column_List" />)
        </foreach>
      </when>
      <otherwise>
        insert all
        <foreach collection="records" item="record">
          into CROP
          (<include refid="Base_Column_List" />)
          values
          (<include refid="Insert_Column_List" />)
        </foreach>
        select 1 from dual
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="biz.dao.mappers.entity.CropExample" resultType="java.lang.Long">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select count(*) from CROP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    update CROP
    <set>
      <if test="record.cropShortName != null">
        CROP_SHORT_NAME = #{record.cropShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.cropName != null">
        CROP_NAME = #{record.cropName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPerson != null">
        CONTACT_PERSON = #{record.contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.contactWay != null">
        CONTACT_WAY = #{record.contactWay,jdbcType=VARCHAR},
      </if>
      <if test="record.tokenUrl != null">
        TOKEN_URL = #{record.tokenUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.tokenSecret != null">
        TOKEN_SECRET = #{record.tokenSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    update CROP
    set CROP_SHORT_NAME = #{record.cropShortName,jdbcType=VARCHAR},
      CROP_NAME = #{record.cropName,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      CONTACT_PERSON = #{record.contactPerson,jdbcType=VARCHAR},
      CONTACT_WAY = #{record.contactWay,jdbcType=VARCHAR},
      TOKEN_URL = #{record.tokenUrl,jdbcType=VARCHAR},
      TOKEN_SECRET = #{record.tokenSecret,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="numTest" parameterType="String">
    UPDATE BUSTEST SET MUN = #{val,jdbcType=VARCHAR} WHERE ID = '1'
  </update>
</mapper>