<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.dao.mappers.TblockcontrolsMapper">
  <resultMap id="BaseResultMap" type="biz.dao.mappers.entity.Tblockcontrols">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <id column="C_BLOCKCONTROLID" jdbcType="VARCHAR" property="cBlockcontrolid" />
    <result column="C_BLOCKID" jdbcType="VARCHAR" property="cBlockid" />
    <result column="L_NUM" jdbcType="DECIMAL" property="lNum" />
    <result column="L_COLS" jdbcType="DECIMAL" property="lCols" />
    <result column="C_ISJRESCOMPONENT" jdbcType="CHAR" property="cIsjrescomponent" />
    <result column="C_COMPONENTTYPE" jdbcType="VARCHAR" property="cComponenttype" />
    <result column="C_INVISIBLE" jdbcType="CHAR" property="cInvisible" />
    <result column="C_LABEL" jdbcType="VARCHAR" property="cLabel" />
    <result column="C_CHECK" jdbcType="VARCHAR" property="cCheck" />
    <result column="C_VALUE" jdbcType="VARCHAR" property="cValue" />
    <result column="C_VALUE2" jdbcType="VARCHAR" property="cValue2" />
    <result column="C_NAME" jdbcType="VARCHAR" property="cName" />
    <result column="C_NAME2" jdbcType="VARCHAR" property="cName2" />
    <result column="C_DICTNAME" jdbcType="VARCHAR" property="cDictname" />
    <result column="C_ITEMS" jdbcType="VARCHAR" property="cItems" />
    <result column="C_READONLY" jdbcType="CHAR" property="cReadonly" />
    <result column="C_EVENT" jdbcType="VARCHAR" property="cEvent" />
    <result column="C_EVENTS" jdbcType="VARCHAR" property="cEvents" />
    <result column="C_COMPONENTID" jdbcType="VARCHAR" property="cComponentid" />
    <result column="C_DISABLED" jdbcType="CHAR" property="cDisabled" />
    <result column="C_SPLIT" jdbcType="VARCHAR" property="cSplit" />
    <result column="C_BIGTIPS" jdbcType="CHAR" property="cBigtips" />
    <result column="C_INPUTTYPE" jdbcType="VARCHAR" property="cInputtype" />
    <result column="L_MAXLENGTH" jdbcType="DECIMAL" property="lMaxlength" />
    <result column="C_HEADITEM" jdbcType="VARCHAR" property="cHeaditem" />
    <result column="C_CONFIG" jdbcType="VARCHAR" property="cConfig" />
    <result column="C_DEFVALUE" jdbcType="VARCHAR" property="cDefvalue" />
    <result column="C_DEFVALUE2" jdbcType="VARCHAR" property="cDefvalue2" />
    <result column="C_ALIAS" jdbcType="VARCHAR" property="cAlias" />
    <result column="C_MULTIPLE" jdbcType="CHAR" property="cMultiple" />
    <result column="C_DELIMITER" jdbcType="VARCHAR" property="cDelimiter" />
    <result column="C_SELECTALL" jdbcType="CHAR" property="cSelectall" />
    <result column="C_EDITABLE" jdbcType="CHAR" property="cEditable" />
    <result column="C_HIDDEN" jdbcType="CHAR" property="cHidden" />
    <result column="C_SQL" jdbcType="VARCHAR" property="cSql" />
    <result column="C_AFTERCLEAR" jdbcType="VARCHAR" property="cAfterclear" />
    <result column="C_MOSAICCOLUMN" jdbcType="VARCHAR" property="cMosaiccolumn" />
    <result column="C_TABLENAME" jdbcType="VARCHAR" property="cTablename" />
    <result column="C_TIPS" jdbcType="VARCHAR" property="cTips" />
    <result column="C_FILTERDICTS" jdbcType="VARCHAR" property="cFilterdicts" />
    <result column="C_SHOWDICTS" jdbcType="VARCHAR" property="cShowdicts" />
    <result column="C_FORMAT" jdbcType="VARCHAR" property="cFormat" />
    <result column="C_COMPARECOLUMN" jdbcType="VARCHAR" property="cComparecolumn" />
    <result column="L_INTEGERNUM" jdbcType="DECIMAL" property="lIntegernum" />
    <result column="L_SUFFIXNUM" jdbcType="DECIMAL" property="lSuffixnum" />
    <result column="C_CHGEVENTID" jdbcType="VARCHAR" property="cChgeventid" />
    <result column="C_VIEWFLAG" jdbcType="VARCHAR" property="cViewflag" />
    <result column="C_SELECTONCHANGE" jdbcType="VARCHAR" property="cSelectonchange" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    C_BLOCKCONTROLID, C_BLOCKID, L_NUM, L_COLS, C_ISJRESCOMPONENT, C_COMPONENTTYPE, C_INVISIBLE, 
    C_LABEL, C_CHECK, C_VALUE, C_VALUE2, C_NAME, C_NAME2, C_DICTNAME, C_ITEMS, C_READONLY, 
    C_EVENT, C_EVENTS, C_COMPONENTID, C_DISABLED, C_SPLIT, C_BIGTIPS, C_INPUTTYPE, L_MAXLENGTH, 
    C_HEADITEM, C_CONFIG, C_DEFVALUE, C_DEFVALUE2, C_ALIAS, C_MULTIPLE, C_DELIMITER, 
    C_SELECTALL, C_EDITABLE, C_HIDDEN, C_SQL, C_AFTERCLEAR, C_MOSAICCOLUMN, C_TABLENAME, 
    C_TIPS, C_FILTERDICTS, C_SHOWDICTS, C_FORMAT, C_COMPARECOLUMN, L_INTEGERNUM, L_SUFFIXNUM, 
    C_CHGEVENTID, C_VIEWFLAG, C_SELECTONCHANGE
  </sql>
  <sql id="Insert_Column_List">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    #{record.cBlockcontrolid,jdbcType=VARCHAR}, #{record.cBlockid,jdbcType=VARCHAR}, 
    #{record.lNum,jdbcType=DECIMAL}, #{record.lCols,jdbcType=DECIMAL}, #{record.cIsjrescomponent,jdbcType=CHAR}, 
    #{record.cComponenttype,jdbcType=VARCHAR}, #{record.cInvisible,jdbcType=CHAR}, #{record.cLabel,jdbcType=VARCHAR}, 
    #{record.cCheck,jdbcType=VARCHAR}, #{record.cValue,jdbcType=VARCHAR}, #{record.cValue2,jdbcType=VARCHAR}, 
    #{record.cName,jdbcType=VARCHAR}, #{record.cName2,jdbcType=VARCHAR}, #{record.cDictname,jdbcType=VARCHAR}, 
    #{record.cItems,jdbcType=VARCHAR}, #{record.cReadonly,jdbcType=CHAR}, #{record.cEvent,jdbcType=VARCHAR}, 
    #{record.cEvents,jdbcType=VARCHAR}, #{record.cComponentid,jdbcType=VARCHAR}, #{record.cDisabled,jdbcType=CHAR}, 
    #{record.cSplit,jdbcType=VARCHAR}, #{record.cBigtips,jdbcType=CHAR}, #{record.cInputtype,jdbcType=VARCHAR}, 
    #{record.lMaxlength,jdbcType=DECIMAL}, #{record.cHeaditem,jdbcType=VARCHAR}, #{record.cConfig,jdbcType=VARCHAR}, 
    #{record.cDefvalue,jdbcType=VARCHAR}, #{record.cDefvalue2,jdbcType=VARCHAR}, #{record.cAlias,jdbcType=VARCHAR}, 
    #{record.cMultiple,jdbcType=CHAR}, #{record.cDelimiter,jdbcType=VARCHAR}, #{record.cSelectall,jdbcType=CHAR}, 
    #{record.cEditable,jdbcType=CHAR}, #{record.cHidden,jdbcType=CHAR}, #{record.cSql,jdbcType=VARCHAR}, 
    #{record.cAfterclear,jdbcType=VARCHAR}, #{record.cMosaiccolumn,jdbcType=VARCHAR}, 
    #{record.cTablename,jdbcType=VARCHAR}, #{record.cTips,jdbcType=VARCHAR}, #{record.cFilterdicts,jdbcType=VARCHAR}, 
    #{record.cShowdicts,jdbcType=VARCHAR}, #{record.cFormat,jdbcType=VARCHAR}, #{record.cComparecolumn,jdbcType=VARCHAR}, 
    #{record.lIntegernum,jdbcType=DECIMAL}, #{record.lSuffixnum,jdbcType=DECIMAL}, #{record.cChgeventid,jdbcType=VARCHAR}, 
    #{record.cViewflag,jdbcType=VARCHAR}, #{record.cSelectonchange,jdbcType=VARCHAR}
  </sql>
  <select id="selectByExample" parameterType="biz.dao.mappers.entity.TblockcontrolsExample" resultMap="BaseResultMap">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBLOCKCONTROLS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithPage" resultMap="BaseResultMap">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBLOCKCONTROLS
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select 
    <include refid="Base_Column_List" />
    from TBLOCKCONTROLS
    where C_BLOCKCONTROLID = #{cBlockcontrolid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    delete from TBLOCKCONTROLS
    where C_BLOCKCONTROLID = #{cBlockcontrolid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="biz.dao.mappers.entity.TblockcontrolsExample">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    delete from TBLOCKCONTROLS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="biz.dao.mappers.entity.Tblockcontrols">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    insert into TBLOCKCONTROLS (C_BLOCKCONTROLID, C_BLOCKID, L_NUM, 
      L_COLS, C_ISJRESCOMPONENT, C_COMPONENTTYPE, 
      C_INVISIBLE, C_LABEL, C_CHECK, 
      C_VALUE, C_VALUE2, C_NAME, 
      C_NAME2, C_DICTNAME, C_ITEMS, 
      C_READONLY, C_EVENT, C_EVENTS, 
      C_COMPONENTID, C_DISABLED, C_SPLIT, 
      C_BIGTIPS, C_INPUTTYPE, L_MAXLENGTH, 
      C_HEADITEM, C_CONFIG, C_DEFVALUE, 
      C_DEFVALUE2, C_ALIAS, C_MULTIPLE, 
      C_DELIMITER, C_SELECTALL, C_EDITABLE, 
      C_HIDDEN, C_SQL, C_AFTERCLEAR, 
      C_MOSAICCOLUMN, C_TABLENAME, C_TIPS, 
      C_FILTERDICTS, C_SHOWDICTS, C_FORMAT, 
      C_COMPARECOLUMN, L_INTEGERNUM, L_SUFFIXNUM, 
      C_CHGEVENTID, C_VIEWFLAG, C_SELECTONCHANGE
      )
    values (#{cBlockcontrolid,jdbcType=VARCHAR}, #{cBlockid,jdbcType=VARCHAR}, #{lNum,jdbcType=DECIMAL}, 
      #{lCols,jdbcType=DECIMAL}, #{cIsjrescomponent,jdbcType=CHAR}, #{cComponenttype,jdbcType=VARCHAR}, 
      #{cInvisible,jdbcType=CHAR}, #{cLabel,jdbcType=VARCHAR}, #{cCheck,jdbcType=VARCHAR}, 
      #{cValue,jdbcType=VARCHAR}, #{cValue2,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, 
      #{cName2,jdbcType=VARCHAR}, #{cDictname,jdbcType=VARCHAR}, #{cItems,jdbcType=VARCHAR}, 
      #{cReadonly,jdbcType=CHAR}, #{cEvent,jdbcType=VARCHAR}, #{cEvents,jdbcType=VARCHAR}, 
      #{cComponentid,jdbcType=VARCHAR}, #{cDisabled,jdbcType=CHAR}, #{cSplit,jdbcType=VARCHAR}, 
      #{cBigtips,jdbcType=CHAR}, #{cInputtype,jdbcType=VARCHAR}, #{lMaxlength,jdbcType=DECIMAL}, 
      #{cHeaditem,jdbcType=VARCHAR}, #{cConfig,jdbcType=VARCHAR}, #{cDefvalue,jdbcType=VARCHAR}, 
      #{cDefvalue2,jdbcType=VARCHAR}, #{cAlias,jdbcType=VARCHAR}, #{cMultiple,jdbcType=CHAR}, 
      #{cDelimiter,jdbcType=VARCHAR}, #{cSelectall,jdbcType=CHAR}, #{cEditable,jdbcType=CHAR}, 
      #{cHidden,jdbcType=CHAR}, #{cSql,jdbcType=VARCHAR}, #{cAfterclear,jdbcType=VARCHAR}, 
      #{cMosaiccolumn,jdbcType=VARCHAR}, #{cTablename,jdbcType=VARCHAR}, #{cTips,jdbcType=VARCHAR}, 
      #{cFilterdicts,jdbcType=VARCHAR}, #{cShowdicts,jdbcType=VARCHAR}, #{cFormat,jdbcType=VARCHAR}, 
      #{cComparecolumn,jdbcType=VARCHAR}, #{lIntegernum,jdbcType=DECIMAL}, #{lSuffixnum,jdbcType=DECIMAL}, 
      #{cChgeventid,jdbcType=VARCHAR}, #{cViewflag,jdbcType=VARCHAR}, #{cSelectonchange,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="biz.dao.mappers.entity.Tblockcontrols">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    insert into TBLOCKCONTROLS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cBlockcontrolid != null">
        C_BLOCKCONTROLID,
      </if>
      <if test="cBlockid != null">
        C_BLOCKID,
      </if>
      <if test="lNum != null">
        L_NUM,
      </if>
      <if test="lCols != null">
        L_COLS,
      </if>
      <if test="cIsjrescomponent != null">
        C_ISJRESCOMPONENT,
      </if>
      <if test="cComponenttype != null">
        C_COMPONENTTYPE,
      </if>
      <if test="cInvisible != null">
        C_INVISIBLE,
      </if>
      <if test="cLabel != null">
        C_LABEL,
      </if>
      <if test="cCheck != null">
        C_CHECK,
      </if>
      <if test="cValue != null">
        C_VALUE,
      </if>
      <if test="cValue2 != null">
        C_VALUE2,
      </if>
      <if test="cName != null">
        C_NAME,
      </if>
      <if test="cName2 != null">
        C_NAME2,
      </if>
      <if test="cDictname != null">
        C_DICTNAME,
      </if>
      <if test="cItems != null">
        C_ITEMS,
      </if>
      <if test="cReadonly != null">
        C_READONLY,
      </if>
      <if test="cEvent != null">
        C_EVENT,
      </if>
      <if test="cEvents != null">
        C_EVENTS,
      </if>
      <if test="cComponentid != null">
        C_COMPONENTID,
      </if>
      <if test="cDisabled != null">
        C_DISABLED,
      </if>
      <if test="cSplit != null">
        C_SPLIT,
      </if>
      <if test="cBigtips != null">
        C_BIGTIPS,
      </if>
      <if test="cInputtype != null">
        C_INPUTTYPE,
      </if>
      <if test="lMaxlength != null">
        L_MAXLENGTH,
      </if>
      <if test="cHeaditem != null">
        C_HEADITEM,
      </if>
      <if test="cConfig != null">
        C_CONFIG,
      </if>
      <if test="cDefvalue != null">
        C_DEFVALUE,
      </if>
      <if test="cDefvalue2 != null">
        C_DEFVALUE2,
      </if>
      <if test="cAlias != null">
        C_ALIAS,
      </if>
      <if test="cMultiple != null">
        C_MULTIPLE,
      </if>
      <if test="cDelimiter != null">
        C_DELIMITER,
      </if>
      <if test="cSelectall != null">
        C_SELECTALL,
      </if>
      <if test="cEditable != null">
        C_EDITABLE,
      </if>
      <if test="cHidden != null">
        C_HIDDEN,
      </if>
      <if test="cSql != null">
        C_SQL,
      </if>
      <if test="cAfterclear != null">
        C_AFTERCLEAR,
      </if>
      <if test="cMosaiccolumn != null">
        C_MOSAICCOLUMN,
      </if>
      <if test="cTablename != null">
        C_TABLENAME,
      </if>
      <if test="cTips != null">
        C_TIPS,
      </if>
      <if test="cFilterdicts != null">
        C_FILTERDICTS,
      </if>
      <if test="cShowdicts != null">
        C_SHOWDICTS,
      </if>
      <if test="cFormat != null">
        C_FORMAT,
      </if>
      <if test="cComparecolumn != null">
        C_COMPARECOLUMN,
      </if>
      <if test="lIntegernum != null">
        L_INTEGERNUM,
      </if>
      <if test="lSuffixnum != null">
        L_SUFFIXNUM,
      </if>
      <if test="cChgeventid != null">
        C_CHGEVENTID,
      </if>
      <if test="cViewflag != null">
        C_VIEWFLAG,
      </if>
      <if test="cSelectonchange != null">
        C_SELECTONCHANGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cBlockcontrolid != null">
        #{cBlockcontrolid,jdbcType=VARCHAR},
      </if>
      <if test="cBlockid != null">
        #{cBlockid,jdbcType=VARCHAR},
      </if>
      <if test="lNum != null">
        #{lNum,jdbcType=DECIMAL},
      </if>
      <if test="lCols != null">
        #{lCols,jdbcType=DECIMAL},
      </if>
      <if test="cIsjrescomponent != null">
        #{cIsjrescomponent,jdbcType=CHAR},
      </if>
      <if test="cComponenttype != null">
        #{cComponenttype,jdbcType=VARCHAR},
      </if>
      <if test="cInvisible != null">
        #{cInvisible,jdbcType=CHAR},
      </if>
      <if test="cLabel != null">
        #{cLabel,jdbcType=VARCHAR},
      </if>
      <if test="cCheck != null">
        #{cCheck,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null">
        #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cValue2 != null">
        #{cValue2,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cName2 != null">
        #{cName2,jdbcType=VARCHAR},
      </if>
      <if test="cDictname != null">
        #{cDictname,jdbcType=VARCHAR},
      </if>
      <if test="cItems != null">
        #{cItems,jdbcType=VARCHAR},
      </if>
      <if test="cReadonly != null">
        #{cReadonly,jdbcType=CHAR},
      </if>
      <if test="cEvent != null">
        #{cEvent,jdbcType=VARCHAR},
      </if>
      <if test="cEvents != null">
        #{cEvents,jdbcType=VARCHAR},
      </if>
      <if test="cComponentid != null">
        #{cComponentid,jdbcType=VARCHAR},
      </if>
      <if test="cDisabled != null">
        #{cDisabled,jdbcType=CHAR},
      </if>
      <if test="cSplit != null">
        #{cSplit,jdbcType=VARCHAR},
      </if>
      <if test="cBigtips != null">
        #{cBigtips,jdbcType=CHAR},
      </if>
      <if test="cInputtype != null">
        #{cInputtype,jdbcType=VARCHAR},
      </if>
      <if test="lMaxlength != null">
        #{lMaxlength,jdbcType=DECIMAL},
      </if>
      <if test="cHeaditem != null">
        #{cHeaditem,jdbcType=VARCHAR},
      </if>
      <if test="cConfig != null">
        #{cConfig,jdbcType=VARCHAR},
      </if>
      <if test="cDefvalue != null">
        #{cDefvalue,jdbcType=VARCHAR},
      </if>
      <if test="cDefvalue2 != null">
        #{cDefvalue2,jdbcType=VARCHAR},
      </if>
      <if test="cAlias != null">
        #{cAlias,jdbcType=VARCHAR},
      </if>
      <if test="cMultiple != null">
        #{cMultiple,jdbcType=CHAR},
      </if>
      <if test="cDelimiter != null">
        #{cDelimiter,jdbcType=VARCHAR},
      </if>
      <if test="cSelectall != null">
        #{cSelectall,jdbcType=CHAR},
      </if>
      <if test="cEditable != null">
        #{cEditable,jdbcType=CHAR},
      </if>
      <if test="cHidden != null">
        #{cHidden,jdbcType=CHAR},
      </if>
      <if test="cSql != null">
        #{cSql,jdbcType=VARCHAR},
      </if>
      <if test="cAfterclear != null">
        #{cAfterclear,jdbcType=VARCHAR},
      </if>
      <if test="cMosaiccolumn != null">
        #{cMosaiccolumn,jdbcType=VARCHAR},
      </if>
      <if test="cTablename != null">
        #{cTablename,jdbcType=VARCHAR},
      </if>
      <if test="cTips != null">
        #{cTips,jdbcType=VARCHAR},
      </if>
      <if test="cFilterdicts != null">
        #{cFilterdicts,jdbcType=VARCHAR},
      </if>
      <if test="cShowdicts != null">
        #{cShowdicts,jdbcType=VARCHAR},
      </if>
      <if test="cFormat != null">
        #{cFormat,jdbcType=VARCHAR},
      </if>
      <if test="cComparecolumn != null">
        #{cComparecolumn,jdbcType=VARCHAR},
      </if>
      <if test="lIntegernum != null">
        #{lIntegernum,jdbcType=DECIMAL},
      </if>
      <if test="lSuffixnum != null">
        #{lSuffixnum,jdbcType=DECIMAL},
      </if>
      <if test="cChgeventid != null">
        #{cChgeventid,jdbcType=VARCHAR},
      </if>
      <if test="cViewflag != null">
        #{cViewflag,jdbcType=VARCHAR},
      </if>
      <if test="cSelectonchange != null">
        #{cSelectonchange,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    <choose>
      <when test="${getDBType} == 'Mysql' or ${getDBType} == 'OceanBase'">
        insert into TBLOCKCONTROLS
        (<include refid="Base_Column_List" />)
        values
        <foreach collection="records" item="record" separator=",">
          (<include refid="Insert_Column_List" />)
        </foreach>
      </when>
      <otherwise>
        insert all
        <foreach collection="records" item="record">
          into TBLOCKCONTROLS
          (<include refid="Base_Column_List" />)
          values
          (<include refid="Insert_Column_List" />)
        </foreach>
        select 1 from dual
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="biz.dao.mappers.entity.TblockcontrolsExample" resultType="java.lang.Long">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    select count(*) from TBLOCKCONTROLS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    update TBLOCKCONTROLS
    <set>
      <if test="record.cBlockcontrolid != null">
        C_BLOCKCONTROLID = #{record.cBlockcontrolid,jdbcType=VARCHAR},
      </if>
      <if test="record.cBlockid != null">
        C_BLOCKID = #{record.cBlockid,jdbcType=VARCHAR},
      </if>
      <if test="record.lNum != null">
        L_NUM = #{record.lNum,jdbcType=DECIMAL},
      </if>
      <if test="record.lCols != null">
        L_COLS = #{record.lCols,jdbcType=DECIMAL},
      </if>
      <if test="record.cIsjrescomponent != null">
        C_ISJRESCOMPONENT = #{record.cIsjrescomponent,jdbcType=CHAR},
      </if>
      <if test="record.cComponenttype != null">
        C_COMPONENTTYPE = #{record.cComponenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.cInvisible != null">
        C_INVISIBLE = #{record.cInvisible,jdbcType=CHAR},
      </if>
      <if test="record.cLabel != null">
        C_LABEL = #{record.cLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.cCheck != null">
        C_CHECK = #{record.cCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.cValue != null">
        C_VALUE = #{record.cValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cValue2 != null">
        C_VALUE2 = #{record.cValue2,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null">
        C_NAME = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cName2 != null">
        C_NAME2 = #{record.cName2,jdbcType=VARCHAR},
      </if>
      <if test="record.cDictname != null">
        C_DICTNAME = #{record.cDictname,jdbcType=VARCHAR},
      </if>
      <if test="record.cItems != null">
        C_ITEMS = #{record.cItems,jdbcType=VARCHAR},
      </if>
      <if test="record.cReadonly != null">
        C_READONLY = #{record.cReadonly,jdbcType=CHAR},
      </if>
      <if test="record.cEvent != null">
        C_EVENT = #{record.cEvent,jdbcType=VARCHAR},
      </if>
      <if test="record.cEvents != null">
        C_EVENTS = #{record.cEvents,jdbcType=VARCHAR},
      </if>
      <if test="record.cComponentid != null">
        C_COMPONENTID = #{record.cComponentid,jdbcType=VARCHAR},
      </if>
      <if test="record.cDisabled != null">
        C_DISABLED = #{record.cDisabled,jdbcType=CHAR},
      </if>
      <if test="record.cSplit != null">
        C_SPLIT = #{record.cSplit,jdbcType=VARCHAR},
      </if>
      <if test="record.cBigtips != null">
        C_BIGTIPS = #{record.cBigtips,jdbcType=CHAR},
      </if>
      <if test="record.cInputtype != null">
        C_INPUTTYPE = #{record.cInputtype,jdbcType=VARCHAR},
      </if>
      <if test="record.lMaxlength != null">
        L_MAXLENGTH = #{record.lMaxlength,jdbcType=DECIMAL},
      </if>
      <if test="record.cHeaditem != null">
        C_HEADITEM = #{record.cHeaditem,jdbcType=VARCHAR},
      </if>
      <if test="record.cConfig != null">
        C_CONFIG = #{record.cConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.cDefvalue != null">
        C_DEFVALUE = #{record.cDefvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.cDefvalue2 != null">
        C_DEFVALUE2 = #{record.cDefvalue2,jdbcType=VARCHAR},
      </if>
      <if test="record.cAlias != null">
        C_ALIAS = #{record.cAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.cMultiple != null">
        C_MULTIPLE = #{record.cMultiple,jdbcType=CHAR},
      </if>
      <if test="record.cDelimiter != null">
        C_DELIMITER = #{record.cDelimiter,jdbcType=VARCHAR},
      </if>
      <if test="record.cSelectall != null">
        C_SELECTALL = #{record.cSelectall,jdbcType=CHAR},
      </if>
      <if test="record.cEditable != null">
        C_EDITABLE = #{record.cEditable,jdbcType=CHAR},
      </if>
      <if test="record.cHidden != null">
        C_HIDDEN = #{record.cHidden,jdbcType=CHAR},
      </if>
      <if test="record.cSql != null">
        C_SQL = #{record.cSql,jdbcType=VARCHAR},
      </if>
      <if test="record.cAfterclear != null">
        C_AFTERCLEAR = #{record.cAfterclear,jdbcType=VARCHAR},
      </if>
      <if test="record.cMosaiccolumn != null">
        C_MOSAICCOLUMN = #{record.cMosaiccolumn,jdbcType=VARCHAR},
      </if>
      <if test="record.cTablename != null">
        C_TABLENAME = #{record.cTablename,jdbcType=VARCHAR},
      </if>
      <if test="record.cTips != null">
        C_TIPS = #{record.cTips,jdbcType=VARCHAR},
      </if>
      <if test="record.cFilterdicts != null">
        C_FILTERDICTS = #{record.cFilterdicts,jdbcType=VARCHAR},
      </if>
      <if test="record.cShowdicts != null">
        C_SHOWDICTS = #{record.cShowdicts,jdbcType=VARCHAR},
      </if>
      <if test="record.cFormat != null">
        C_FORMAT = #{record.cFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.cComparecolumn != null">
        C_COMPARECOLUMN = #{record.cComparecolumn,jdbcType=VARCHAR},
      </if>
      <if test="record.lIntegernum != null">
        L_INTEGERNUM = #{record.lIntegernum,jdbcType=DECIMAL},
      </if>
      <if test="record.lSuffixnum != null">
        L_SUFFIXNUM = #{record.lSuffixnum,jdbcType=DECIMAL},
      </if>
      <if test="record.cChgeventid != null">
        C_CHGEVENTID = #{record.cChgeventid,jdbcType=VARCHAR},
      </if>
      <if test="record.cViewflag != null">
        C_VIEWFLAG = #{record.cViewflag,jdbcType=VARCHAR},
      </if>
      <if test="record.cSelectonchange != null">
        C_SELECTONCHANGE = #{record.cSelectonchange,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    update TBLOCKCONTROLS
    set C_BLOCKCONTROLID = #{record.cBlockcontrolid,jdbcType=VARCHAR},
      C_BLOCKID = #{record.cBlockid,jdbcType=VARCHAR},
      L_NUM = #{record.lNum,jdbcType=DECIMAL},
      L_COLS = #{record.lCols,jdbcType=DECIMAL},
      C_ISJRESCOMPONENT = #{record.cIsjrescomponent,jdbcType=CHAR},
      C_COMPONENTTYPE = #{record.cComponenttype,jdbcType=VARCHAR},
      C_INVISIBLE = #{record.cInvisible,jdbcType=CHAR},
      C_LABEL = #{record.cLabel,jdbcType=VARCHAR},
      C_CHECK = #{record.cCheck,jdbcType=VARCHAR},
      C_VALUE = #{record.cValue,jdbcType=VARCHAR},
      C_VALUE2 = #{record.cValue2,jdbcType=VARCHAR},
      C_NAME = #{record.cName,jdbcType=VARCHAR},
      C_NAME2 = #{record.cName2,jdbcType=VARCHAR},
      C_DICTNAME = #{record.cDictname,jdbcType=VARCHAR},
      C_ITEMS = #{record.cItems,jdbcType=VARCHAR},
      C_READONLY = #{record.cReadonly,jdbcType=CHAR},
      C_EVENT = #{record.cEvent,jdbcType=VARCHAR},
      C_EVENTS = #{record.cEvents,jdbcType=VARCHAR},
      C_COMPONENTID = #{record.cComponentid,jdbcType=VARCHAR},
      C_DISABLED = #{record.cDisabled,jdbcType=CHAR},
      C_SPLIT = #{record.cSplit,jdbcType=VARCHAR},
      C_BIGTIPS = #{record.cBigtips,jdbcType=CHAR},
      C_INPUTTYPE = #{record.cInputtype,jdbcType=VARCHAR},
      L_MAXLENGTH = #{record.lMaxlength,jdbcType=DECIMAL},
      C_HEADITEM = #{record.cHeaditem,jdbcType=VARCHAR},
      C_CONFIG = #{record.cConfig,jdbcType=VARCHAR},
      C_DEFVALUE = #{record.cDefvalue,jdbcType=VARCHAR},
      C_DEFVALUE2 = #{record.cDefvalue2,jdbcType=VARCHAR},
      C_ALIAS = #{record.cAlias,jdbcType=VARCHAR},
      C_MULTIPLE = #{record.cMultiple,jdbcType=CHAR},
      C_DELIMITER = #{record.cDelimiter,jdbcType=VARCHAR},
      C_SELECTALL = #{record.cSelectall,jdbcType=CHAR},
      C_EDITABLE = #{record.cEditable,jdbcType=CHAR},
      C_HIDDEN = #{record.cHidden,jdbcType=CHAR},
      C_SQL = #{record.cSql,jdbcType=VARCHAR},
      C_AFTERCLEAR = #{record.cAfterclear,jdbcType=VARCHAR},
      C_MOSAICCOLUMN = #{record.cMosaiccolumn,jdbcType=VARCHAR},
      C_TABLENAME = #{record.cTablename,jdbcType=VARCHAR},
      C_TIPS = #{record.cTips,jdbcType=VARCHAR},
      C_FILTERDICTS = #{record.cFilterdicts,jdbcType=VARCHAR},
      C_SHOWDICTS = #{record.cShowdicts,jdbcType=VARCHAR},
      C_FORMAT = #{record.cFormat,jdbcType=VARCHAR},
      C_COMPARECOLUMN = #{record.cComparecolumn,jdbcType=VARCHAR},
      L_INTEGERNUM = #{record.lIntegernum,jdbcType=DECIMAL},
      L_SUFFIXNUM = #{record.lSuffixnum,jdbcType=DECIMAL},
      C_CHGEVENTID = #{record.cChgeventid,jdbcType=VARCHAR},
      C_VIEWFLAG = #{record.cViewflag,jdbcType=VARCHAR},
      C_SELECTONCHANGE = #{record.cSelectonchange,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="biz.dao.mappers.entity.Tblockcontrols">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    update TBLOCKCONTROLS
    <set>
      <if test="cBlockid != null">
        C_BLOCKID = #{cBlockid,jdbcType=VARCHAR},
      </if>
      <if test="lNum != null">
        L_NUM = #{lNum,jdbcType=DECIMAL},
      </if>
      <if test="lCols != null">
        L_COLS = #{lCols,jdbcType=DECIMAL},
      </if>
      <if test="cIsjrescomponent != null">
        C_ISJRESCOMPONENT = #{cIsjrescomponent,jdbcType=CHAR},
      </if>
      <if test="cComponenttype != null">
        C_COMPONENTTYPE = #{cComponenttype,jdbcType=VARCHAR},
      </if>
      <if test="cInvisible != null">
        C_INVISIBLE = #{cInvisible,jdbcType=CHAR},
      </if>
      <if test="cLabel != null">
        C_LABEL = #{cLabel,jdbcType=VARCHAR},
      </if>
      <if test="cCheck != null">
        C_CHECK = #{cCheck,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null">
        C_VALUE = #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cValue2 != null">
        C_VALUE2 = #{cValue2,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        C_NAME = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cName2 != null">
        C_NAME2 = #{cName2,jdbcType=VARCHAR},
      </if>
      <if test="cDictname != null">
        C_DICTNAME = #{cDictname,jdbcType=VARCHAR},
      </if>
      <if test="cItems != null">
        C_ITEMS = #{cItems,jdbcType=VARCHAR},
      </if>
      <if test="cReadonly != null">
        C_READONLY = #{cReadonly,jdbcType=CHAR},
      </if>
      <if test="cEvent != null">
        C_EVENT = #{cEvent,jdbcType=VARCHAR},
      </if>
      <if test="cEvents != null">
        C_EVENTS = #{cEvents,jdbcType=VARCHAR},
      </if>
      <if test="cComponentid != null">
        C_COMPONENTID = #{cComponentid,jdbcType=VARCHAR},
      </if>
      <if test="cDisabled != null">
        C_DISABLED = #{cDisabled,jdbcType=CHAR},
      </if>
      <if test="cSplit != null">
        C_SPLIT = #{cSplit,jdbcType=VARCHAR},
      </if>
      <if test="cBigtips != null">
        C_BIGTIPS = #{cBigtips,jdbcType=CHAR},
      </if>
      <if test="cInputtype != null">
        C_INPUTTYPE = #{cInputtype,jdbcType=VARCHAR},
      </if>
      <if test="lMaxlength != null">
        L_MAXLENGTH = #{lMaxlength,jdbcType=DECIMAL},
      </if>
      <if test="cHeaditem != null">
        C_HEADITEM = #{cHeaditem,jdbcType=VARCHAR},
      </if>
      <if test="cConfig != null">
        C_CONFIG = #{cConfig,jdbcType=VARCHAR},
      </if>
      <if test="cDefvalue != null">
        C_DEFVALUE = #{cDefvalue,jdbcType=VARCHAR},
      </if>
      <if test="cDefvalue2 != null">
        C_DEFVALUE2 = #{cDefvalue2,jdbcType=VARCHAR},
      </if>
      <if test="cAlias != null">
        C_ALIAS = #{cAlias,jdbcType=VARCHAR},
      </if>
      <if test="cMultiple != null">
        C_MULTIPLE = #{cMultiple,jdbcType=CHAR},
      </if>
      <if test="cDelimiter != null">
        C_DELIMITER = #{cDelimiter,jdbcType=VARCHAR},
      </if>
      <if test="cSelectall != null">
        C_SELECTALL = #{cSelectall,jdbcType=CHAR},
      </if>
      <if test="cEditable != null">
        C_EDITABLE = #{cEditable,jdbcType=CHAR},
      </if>
      <if test="cHidden != null">
        C_HIDDEN = #{cHidden,jdbcType=CHAR},
      </if>
      <if test="cSql != null">
        C_SQL = #{cSql,jdbcType=VARCHAR},
      </if>
      <if test="cAfterclear != null">
        C_AFTERCLEAR = #{cAfterclear,jdbcType=VARCHAR},
      </if>
      <if test="cMosaiccolumn != null">
        C_MOSAICCOLUMN = #{cMosaiccolumn,jdbcType=VARCHAR},
      </if>
      <if test="cTablename != null">
        C_TABLENAME = #{cTablename,jdbcType=VARCHAR},
      </if>
      <if test="cTips != null">
        C_TIPS = #{cTips,jdbcType=VARCHAR},
      </if>
      <if test="cFilterdicts != null">
        C_FILTERDICTS = #{cFilterdicts,jdbcType=VARCHAR},
      </if>
      <if test="cShowdicts != null">
        C_SHOWDICTS = #{cShowdicts,jdbcType=VARCHAR},
      </if>
      <if test="cFormat != null">
        C_FORMAT = #{cFormat,jdbcType=VARCHAR},
      </if>
      <if test="cComparecolumn != null">
        C_COMPARECOLUMN = #{cComparecolumn,jdbcType=VARCHAR},
      </if>
      <if test="lIntegernum != null">
        L_INTEGERNUM = #{lIntegernum,jdbcType=DECIMAL},
      </if>
      <if test="lSuffixnum != null">
        L_SUFFIXNUM = #{lSuffixnum,jdbcType=DECIMAL},
      </if>
      <if test="cChgeventid != null">
        C_CHGEVENTID = #{cChgeventid,jdbcType=VARCHAR},
      </if>
      <if test="cViewflag != null">
        C_VIEWFLAG = #{cViewflag,jdbcType=VARCHAR},
      </if>
      <if test="cSelectonchange != null">
        C_SELECTONCHANGE = #{cSelectonchange,jdbcType=VARCHAR},
      </if>
    </set>
    where C_BLOCKCONTROLID = #{cBlockcontrolid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="biz.dao.mappers.entity.Tblockcontrols">
    <!--
      WARNING - 
      这是工具生成代码，禁止手工修改
    -->
    update TBLOCKCONTROLS
    set C_BLOCKID = #{cBlockid,jdbcType=VARCHAR},
      L_NUM = #{lNum,jdbcType=DECIMAL},
      L_COLS = #{lCols,jdbcType=DECIMAL},
      C_ISJRESCOMPONENT = #{cIsjrescomponent,jdbcType=CHAR},
      C_COMPONENTTYPE = #{cComponenttype,jdbcType=VARCHAR},
      C_INVISIBLE = #{cInvisible,jdbcType=CHAR},
      C_LABEL = #{cLabel,jdbcType=VARCHAR},
      C_CHECK = #{cCheck,jdbcType=VARCHAR},
      C_VALUE = #{cValue,jdbcType=VARCHAR},
      C_VALUE2 = #{cValue2,jdbcType=VARCHAR},
      C_NAME = #{cName,jdbcType=VARCHAR},
      C_NAME2 = #{cName2,jdbcType=VARCHAR},
      C_DICTNAME = #{cDictname,jdbcType=VARCHAR},
      C_ITEMS = #{cItems,jdbcType=VARCHAR},
      C_READONLY = #{cReadonly,jdbcType=CHAR},
      C_EVENT = #{cEvent,jdbcType=VARCHAR},
      C_EVENTS = #{cEvents,jdbcType=VARCHAR},
      C_COMPONENTID = #{cComponentid,jdbcType=VARCHAR},
      C_DISABLED = #{cDisabled,jdbcType=CHAR},
      C_SPLIT = #{cSplit,jdbcType=VARCHAR},
      C_BIGTIPS = #{cBigtips,jdbcType=CHAR},
      C_INPUTTYPE = #{cInputtype,jdbcType=VARCHAR},
      L_MAXLENGTH = #{lMaxlength,jdbcType=DECIMAL},
      C_HEADITEM = #{cHeaditem,jdbcType=VARCHAR},
      C_CONFIG = #{cConfig,jdbcType=VARCHAR},
      C_DEFVALUE = #{cDefvalue,jdbcType=VARCHAR},
      C_DEFVALUE2 = #{cDefvalue2,jdbcType=VARCHAR},
      C_ALIAS = #{cAlias,jdbcType=VARCHAR},
      C_MULTIPLE = #{cMultiple,jdbcType=CHAR},
      C_DELIMITER = #{cDelimiter,jdbcType=VARCHAR},
      C_SELECTALL = #{cSelectall,jdbcType=CHAR},
      C_EDITABLE = #{cEditable,jdbcType=CHAR},
      C_HIDDEN = #{cHidden,jdbcType=CHAR},
      C_SQL = #{cSql,jdbcType=VARCHAR},
      C_AFTERCLEAR = #{cAfterclear,jdbcType=VARCHAR},
      C_MOSAICCOLUMN = #{cMosaiccolumn,jdbcType=VARCHAR},
      C_TABLENAME = #{cTablename,jdbcType=VARCHAR},
      C_TIPS = #{cTips,jdbcType=VARCHAR},
      C_FILTERDICTS = #{cFilterdicts,jdbcType=VARCHAR},
      C_SHOWDICTS = #{cShowdicts,jdbcType=VARCHAR},
      C_FORMAT = #{cFormat,jdbcType=VARCHAR},
      C_COMPARECOLUMN = #{cComparecolumn,jdbcType=VARCHAR},
      L_INTEGERNUM = #{lIntegernum,jdbcType=DECIMAL},
      L_SUFFIXNUM = #{lSuffixnum,jdbcType=DECIMAL},
      C_CHGEVENTID = #{cChgeventid,jdbcType=VARCHAR},
      C_VIEWFLAG = #{cViewflag,jdbcType=VARCHAR},
      C_SELECTONCHANGE = #{cSelectonchange,jdbcType=VARCHAR}
    where C_BLOCKCONTROLID = #{cBlockcontrolid,jdbcType=VARCHAR}
  </update>
</mapper>